body {
    background-color: olive;
}

h1 {
    background-color: purple;
}

h2 {
    background-color: rosybrown;
    color: royalblue;
}

p {
    background-color: darkgoldenrod;
    color: violet;
}